$phone-width: 440px;
$background-color: #FCFCFC;
$blue: #2E7AE8;
$grey: #A0A0A0;
$green: rgba(30, 215, 96, 1);

@mixin phone {
  @media screen and (min-width: 0) and (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$phone-width + 1}) {
    @content;
  }
}

body {
  background-color: $background-color;
  font-family: 'Avenir Next', 'Avenir', 'Lucida Grande', Helvetiva, sans-serif;
  font-size: 12px;
  line-height: 22px;
  overflow-x: hidden;
  padding: 0 42px;

  @include phone {
    font-size: 16px;
    line-height: 24px;
    padding: 0 8px;
  }
}

h2, h4 {
  font-weight: 600;
  margin-bottom: 6px;
}

.title {
  display: inline-block;
  max-width: 300px;
  font-size: 13px;

  @include phone {
    font-size: 26px;
    margin-bottom: 4px;
  }
}

ul {
  margin-top: 8px;
  margin-bottom: 22px;

  > li > ul {
    margin: 2px 0 2px 0;
    padding-left: 24px;
  }

  > li > strong {
    font-weight: 600;
  }

  @include phone {
    padding-left: 16px;
  }
}

a, a:hover, a:active, a:visited {
  color: $blue;
  text-decoration: none;

  > i.icon-green:hover {
    color: $green;
  }

  > i {
    transition: color 0.5s;
  }
}

a:hover {
  text-decoration: underline;
}

.links {
  margin-bottom: 20px;

  a:hover {
    text-decoration: none;
  }

  i {
    color: $grey;
    font-size: 20px;
    font-style: normal;
    margin-right: 4px;

    &:hover {
      color: $blue;
    }
  }

  @include desktop {
    position: absolute;
    top: 24px;
    left: 540px;
  }
  @include phone {
    display: block;
  }
}

.content {
  margin-bottom: 160px;
}

.publications li {
  margin-bottom: 6px;
}

.rocket {
  cursor: pointer;
  font-size: 32px;
  position: fixed;
  bottom: 42px;
  left: 50px;
  z-index: 10;

  @include phone {
    font-size: 38px;
    left: 8px;
  }
}

.rocket-in-space {
  bottom: 140%;
  left: 130%;
  transition-property: left bottom;
  transition-duration: 6s;
  transition-timing-function: ease;
  -webkit-transition-property: left bottom;
  -webkit-transition-duration: 6s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: left bottom;
  -moz-transition-duration: 6s;
  -moz-transition-timing-function: ease;
}

.rocket-label {
  bottom: 18px;
  color: #2E7AE8;
  font-size: 13px;
  position: absolute;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  opacity: 1;


  @include phone {
    bottom: 2px;
    font-size: 14px;
  }
}

.link {
  cursor: pointer;
}

.transparent {
  opacity: 0;
}

footer {
  bottom: 0;
  background-color: $background-color;
  height: 72px;
  left: 50px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px -14px 34px 40px #FCFCFC;
  -moz-box-shadow: 0px -14px 34px 40px #FCFCFC;
  box-shadow: 0px -14px 34px 40px #FCFCFC;

  @include phone {
    left: 8px;
  }
}

.green {
  color: $green !important;
}
