@charset "UTF-8";
@import url("https://rsms.me/interface/interface.css");
body {
  background-color: #FCFCFC;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  overflow-x: hidden;
  padding: 0 22px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
  body > div {
    margin: 0 auto;
    max-width: 1580px; }
  @media screen and (min-width: 0) and (max-width: 440px) {
    body {
      font-size: 16px;
      line-height: 24px;
      padding: 0; } }

h2, h4 {
  font-weight: 600;
  margin-top: 28px; }

.title {
  display: inline-block;
  max-width: 300px;
  font-size: 16px; }
  .title h4 {
    width: 120px;
    display: inline-block; }
  .title a  {
    font-size: 12px;
    color: #A0A0A0 !important;
    cursor: pointer !important; }
  .title a:active {
    color: black !important; }
  @media screen and (min-width: 0) and (max-width: 440px) {
    .title {
      font-size: 26px;
      margin-bottom: 4px; } }

.bio {
  margin-top: 12px; }

ul {
  margin-top: 8px;
  margin-bottom: 22px; }
  ul > li > ul {
    margin: 2px 0 2px 0;
    padding-left: 24px; }
  ul > li > strong {
    font-weight: 600; }
  @media screen and (min-width: 0) and (max-width: 440px) {
    ul {
      padding-left: 16px; } }

a, a:hover, a:active, a:visited {
  color: #2E7AE8;
  text-decoration: none; }
  a > i.icon-green:hover, a:hover > i.icon-green:hover, a:active > i.icon-green:hover, a:visited > i.icon-green:hover {
    color: #1ed760; }
  a > i, a:hover > i, a:active > i, a:visited > i {
    transition: color 0.5s; }

a:hover {
  text-decoration: underline; }

.links a:hover {
  text-decoration: none; }

.links i {
  color: black;
  font-size: 32px;
  font-style: normal;
  margin-right: 20px;
  line-height: 1; }
  .links i:hover {
    color: #2E7AE8; }

.content {
  margin-bottom: 160px; }
  .content h4 {
    margin-top: 34px; }

.publications li {
  margin-bottom: 6px; }

.rocket {
  cursor: pointer;
  font-size: 68px;
  position: fixed;
  bottom: 12px;
  left: 50px;
  z-index: 10; }
  @media screen and (min-width: 0) and (max-width: 440px) {
    .rocket {
      bottom: 36px;
      font-size: 38px;
      left: 8px; } }

.rocket-in-space {
  bottom: 140%;
  left: 130%;
  transition-property: left bottom;
  transition-duration: 6s;
  transition-timing-function: ease;
  -webkit-transition-property: left bottom;
  -webkit-transition-duration: 6s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: left bottom;
  -moz-transition-duration: 6s;
  -moz-transition-timing-function: ease; }

.rocket-label {
  bottom: 14px;
  color: #2E7AE8;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  opacity: 1; }
  @media screen and (min-width: 0) and (max-width: 440px) {
    .rocket-label {
      bottom: 2px;
      font-size: 14px; } }

.link {
  cursor: pointer; }

.transparent {
  opacity: 0; }

footer {
  bottom: 0;
  background-color: #FCFCFC;
  height: 72px;
  left: 50px;
  position: fixed;
  width: 100%; }
  @media screen and (min-width: 0) and (max-width: 440px) {
    footer {
      left: 8px; } }

.green {
  color: #1ed760 !important; }
