@import url('https://rsms.me/interface/interface.css');

$phone-width: 440px;
$background-color: #FCFCFC;
$blue: #2E7AE8;
$grey: #A0A0A0;
$green: rgba(30, 215, 96, 1);

$max-width: 1400px;

@mixin phone {
  @media screen and (min-width: 0) and (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$phone-width + 1}) {
    @content;
  }
}

body {
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  overflow-x: hidden;
  padding: 0 42px;

  > div {
    margin: 0 auto;
    max-width: $max-width;
  }

  @include phone {
    font-size: 16px;
    line-height: 24px;
    padding: 0 8px;
  }
}

h2, h4 {
  font-weight: 600;
  margin-top: 28px;
}

.title {
  display: inline-block;
  max-width: 300px;
  font-size: 16px;

  h4 {
    width: 120px;
    display: inline-block;
  }

  a {
    font-size: 12px;
    color: $grey !important;
    cursor: pointer !important;
  }

  a:active {
    color: black !important;
  }


  @include phone {
    font-size: 26px;
    margin-bottom: 4px;
  }
}

.bio {
  margin-top: 12px;
}

ul {
  margin-top: 8px;
  margin-bottom: 22px;

  > li > ul {
    margin: 2px 0 2px 0;
    padding-left: 24px;
  }

  > li > strong {
    font-weight: 600;
  }

  @include phone {
    padding-left: 16px;
  }
}

a, a:hover, a:active, a:visited {
  color: $blue;
  text-decoration: none;

  > i.icon-green:hover {
    color: $green;
  }

  > i {
    transition: color 0.5s;
  }
}

a:hover {
  text-decoration: underline;
}

.links {

  a:hover {
    text-decoration: none;
  }

  i {
    color: black;
    font-size: 32px;
    font-style: normal;
    margin-right: 20px;
    line-height: 1;

    &:hover {
      color: $blue;
    }
  }
}

.content {
  margin-bottom: 160px;

  h4 {
    margin-top: 34px;
  }
}

.publications li {
  margin-bottom: 6px;
}

.rocket {
  cursor: pointer;
  font-size: 68px;
  position: fixed;
  bottom: 12px;
  left: 50px;
  z-index: 10;

  @include phone {
    bottom: 36px;
    font-size: 38px;
    left: 8px;
  }
}

.rocket-in-space {
  bottom: 140%;
  left: 130%;
  transition-property: left bottom;
  transition-duration: 6s;
  transition-timing-function: ease;
  -webkit-transition-property: left bottom;
  -webkit-transition-duration: 6s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: left bottom;
  -moz-transition-duration: 6s;
  -moz-transition-timing-function: ease;
}

.rocket-label {
  bottom: 14px;
  color: #2E7AE8;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  opacity: 1;


  @include phone {
    bottom: 2px;
    font-size: 14px;
  }
}

.link {
  cursor: pointer;
}

.transparent {
  opacity: 0;
}

footer {
  bottom: 0;
  background-color: $background-color;
  height: 72px;
  left: 50px;
  position: fixed;
  width: 100%;

  @include phone {
    left: 8px;
  }
}

.green {
  color: $green !important;
}
